@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.Btn{
    font-family: 'Poppins', sans-serif;
    background-color: #c85bf3;
    color: #eee;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 1em;
    transition: background .5s;
}

.Btn:hover{
    background-color: #bf38f5;
}